* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "neue machina";
}

main {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
}

.page1 {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  .top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    h1 {
      // line-height: 5.5vw;
      font-weight: 100;
      font-size: 3rem;
      span {
        opacity: 0.5;
      }
    }
    p {
      font-weight: 100;
    }
  }
  .bottom {
    width: 100%;
    display: grid;
    grid-template-areas:
      "a a b b"
      "a a b b"
      "a a b b"
      "a a b b"
      "a a b b"
      "a a c c"
      "a a c c"
      "a a c c";
    gap: 1.5rem;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
      border-radius: 10px;
    }

    .imagea {
      grid-area: a;
    }

    .imageb {
      // object-position: top(30%);
      grid-area: b;
      aspect-ratio: 4/3;
    }

    .imagec {
      grid-area: c;
      aspect-ratio: 16/9;
    }
  }
}

@media (min-width: 1020px) {
  main {
    padding: 2rem;
  }
  .page1 {
    flex-direction: row;

    .top {
      width: 50%;
      h1 {
        font-size: 6rem;
      }
      p {
        font-size: rem;
      }
    }
    .bottom {
      width: 50%;
      grid-template-areas:
        ". . b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a b b"
        "a a c c"
        "a a c c"
        ". . c c";
    }
  }
}
